body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.wrapper{
    margin: 20px;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: top;
    justify-content: baseline;
    gap: 20px;
    margin: 20px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}


.task-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
}
