<div class="wrapper">

    <app-livreur-details />

    <div class="header">
        <div>
            <h2>{{service.userName()}}</h2>
        </div>
        <div>
            <h1>Delivery Manager</h1>
        </div>
        <div>
            <a (click)="disconnect()" style="color: white; cursor: pointer; background-color: orangered; padding: 10px; border-radius: 8px;">
                Disconnect
            </a>
        </div>
       
    </div>

    @if (userRoles?.includes('realm-admin')) {

    <h1 style="margin-left: 5%;">Total: {{service.totalAmount()}} DH</h1>
    <div class="container">

        <div>
            <app-tasks-modal />
        </div>

        <!-- Showing delivry guys list -->
         <div style="width: 30%;">
            <app-livreur-list />
         </div>
        

    </div>
    }

    @else {

    <h1 style="margin-left: 5%;">Total: {{service.totalAmountLivreur()}} DH</h1>
    
    <div class="container">
        <app-livreur-section />
    </div>    

    }
    
<p-toast> </p-toast>
</div>