<div class="wrapper">

    <div class="task-container">

        <h2>Mes Commandes({{service.employeeAssignedTasks().length}})</h2>
        <ul id="task-list">
            @if (service.tasksAssigned().length === 0) {
                <li><h1>No tasks yet</h1></li>
            }
            @else {
                @for(task of service.employeeAssignedTasks(); track $index){
                    <li class='user-assigned-task'>
                        <div style="width: 80%;">
                            <b>{{ $index }}</b> : <span><b>{{task.description}}</b></span>
                        </div>
                        <div class="mark-as-completed" (click)="markAsCompletedTask(task.id)">
                            <span>Livrer</span>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    
    
    <div class="completed-task-container">
        <h2>Commandes Livrées({{service.employeeCompletedTasks().length}})</h2>
        <ul id="task-list">
            @if (service.employeeCompletedTasks().length === 0) {
                <li><h1>Aucune commande encore...</h1></li>
            }
            @else {
                @for(task of service.employeeCompletedTasks(); track $index){
                    <li class='completed-task-li'>
                        <div>
                            <b>{{ $index }}</b> : <span><b>{{task.description}}</b></span>
                        </div>
                        <div class="reassign-task" (click)="markAsUncompletedTask(task.id)">
                            <b>Réassigner</b>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>

</div>
