
/* ===========  here start user section csss ============= */ 

.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-inline: auto;
    gap: 5rem;
    flex-direction: row;
}
.span-action{
    cursor: pointer;
    background-color: #ddd;
    padding: 8px;
    margin-right: 10px;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}


.task-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
}

#task-list{
    list-style-type: none;
    padding: 15px;
}

.completed-task-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
}

.completed-task-li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.reassign-task{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
    color: #4CAF50;
    text-align: center;
}

.user-assigned-task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    color: green;
}
.mark-as-completed{
    text-align: center;
    background-color: #ddd;
    color: black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
}

/* =============End of user section style============== */