

<div class="user-container">
    <h2>Livreurs({{service.users().length}})</h2>
    <ul>
        @if (service.users().length === 0) {
            <li><h1>Chargement...</h1></li>
        }
        @else {
            @for(user of service.users(); track $index){
                <li class="employee-item-to-assign" (click)="service.showUserDialog.set(true)">
                    
                        <div>
                            <b>{{user?.username}}</b>
                        </div> 
                            @if (!user?.attributes?.taskid || user?.attributes?.taskid?.length === 0) {
                                <div style="color: green;">
                                    <b>FREE</b>
                                </div>
                            }
                            @else {
                                <div style="color: orangered;">
                                    <b>OCCUPIED({{user?.attributes?.taskid?.length}})</b>
                                </div>
                            }
                   
                </li>
            }   
        }
    </ul>
</div>