<!-- <p-dialog header="Abdo Details" [modal]="true" [visible]="service.showUserDialog()" [style]="{ width: '60rem', height: '40rem' }">
    
    <div class="wrapper">
        <div class="wrapper-info">
            <p>Abdo</p>
            <p>06 74 98 04 18</p>
        </div>
        
        <div class="map-container">
            <div id="map" #mapContainer></div>
        </div>

    </div>

    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="service.showUserDialog.set(false)" />
    </div>
</p-dialog> -->




