
.task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
}
.task-container h2{
    margin-left: 40px;
}
.task-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
    margin-left: 37px;
}
input[type="text"] {
    width: 90%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#task-description {
    width: 90%;
    height: 70px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 90%;
    height: 31px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}
.task-list-header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: 10px;
    margin-top: 20px;
}
.task-list-header h3{
    cursor: pointer;
}
.task-list-header h3:hover{
    text-decoration: underline;
}
#task-list{
    list-style-type: none;
    padding: 15px;
}
.div-task-item{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.task-body{
    width: 70%;
}
.task-actions-btn{
    width: 30%;
}

ul li{
    list-style: none;
}

.task-item-unassigned{
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    color: green;
}

.task-item-assigned{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3563ed;
}




.span-action{
    cursor: pointer;
    background-color: #ddd;
    padding: 8px;
    margin-right: 10px;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}

.task-item-completed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #4CAF50;
}
.delete-completed-task-btn{
    background-color: white; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 10px;
    color: black;
}
